<div class="col-12">
  <div class="row">



    <div class="col-sm-8">
      <div class="card" style="border: 2px ;border:none;border-radius: 10px; border-color: black;">
        <div class="col-sm-12">
          <div class="card-body">
            
            <h5 class="card-title" style="font-weight: bold;margin-bottom: 20px;font-weight: bolder;font-size: 25px;">
              {{ newboardDetails.Title }}
            </h5>

            <h5 class="card-title" style="font-weight: bold;margin-bottom: 20px;font-weight: bolder;font-size: 15px;">
              {{ newboardDetails.SubTitle }}
            </h5>

            


            
            <div class="col-lg-12">
              <button
                style="font-size:15px;border: none;background-color: lightgrey;margin-bottom: 30px;margin-right: 20px; padding: 7px;font-weight: bold;">
                <i class="fa fa-paperclip"></i>&nbsp; Attach</button>
              <button
                style="font-size:15px;border: none;background-color: lightgrey;margin-bottom: 30px; margin-right: 20px;padding: 7px;font-weight: bold;">
                <i class="fa fa-plus-circle"></i>&nbsp; Create Subtasks</button>
              <button
                style="font-size:15px;border: none;background-color: lightgrey;margin-bottom: 30px;margin-right: 20px; padding: 7px;font-weight: bold;">
                <i class="fa fa-link"></i>&nbsp; Link issues</button>

                <button
                style="font-size:15px;border: none;background-color: lightgrey;margin-bottom: 30px;margin-right: 20px; padding: 7px;font-weight: bold;">
                <i class="fa fa-edit"></i>&nbsp; <a [routerLink]="['/company/' + this.companyId + '/board/' + this.boardId + '/ticket/edit/' + this.ticketId]">Edit</a>
              </button>

            </div>


            <div class="col-lg-12">
              <div class="card"
                style="border: 2px ;border:dashed;border-radius: 10px; border-color: black; box-shadow: none; margin-bottom: 20px;">
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <form>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                              placeholder="Enter Description" value="{{ newboardDetails.Description }}"
                              style="background-color: lightgrey;border-radius: 10px;"></textarea>
                          </div>
                        </form>
                        <!--COMMENT SECTION-->
                        <div class="container mt-5 mb-5">
                          <div class="d-flex justify-content-center row">
                            <div class="d-flex flex-column col-md-12">
                              <label for="exampleFormControlTextarea1">Activities &nbsp;<i class="fa fa-chevron-right"
                                  style="font-size: 13px;"></i>
                              </label>
                              <div
                                class="d-flex flex-row align-items-center text-left comment-top p-4 bg-white border-bottom px-4">
                                <div class="profile-image"><img class="rounded-circle"
                                    src="../../../assets/scm_user_12.png" width="70"></div>

                                <div class="d-flex flex-column ml-3">
                                  <div class="d-flex flex-row post-title">
                                    <h5>SCM_USER_12</h5><span class="ml-2">December 9,2020 11:05 AM</span>
                                  </div>
                                  <div class="d-flex flex-row align-items-center align-content-center post-title"><span
                                      class="bdge mr-1">If we can separate out app features and notifications part to
                                      work
                                      on!</span></div>
                                </div>
                              </div>

                              <div class="coment-bottom bg-white p-2 px-4">
                                <div class="d-flex flex-row add-comment-section mt-4 mb-4"><img
                                    class="img-fluid img-responsive rounded-circle mr-2"
                                    src="../../../assets/scm_user_12.png" width="38"><input type="text"
                                    class="form-control mr-3" placeholder="Add comment"><button class="btn btn-primary"
                                    type="button">Comment</button>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>









    <div class="col-sm-4">
      <div class="card" style="border: 2px ;border:none;border-radius: 10px; border-color: black;">
        <div class="col-sm-12">
          <div class="card-body">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="container">
                  <div class="row">
                    <div class="col-12">


                      <div class="form-group row" style="margin-top: 30px;">
                        <label >Status</label>
                        <div class="col-sm-8 col-md-10">  
                            <select class="col-sm-8 col-md-10 dropdown-menu" aria-labelledby="dropdownMenuButton" class="custom-select" type="text" value = "{{newboardDetails.Status}}" [disabled]="!editable">
                              <option class="dropdown-item" value="READY">Ready</option>
                              <option class="dropdown-item" value="DEV_IN_PROGRESS">dev in Progress</option>
                              <option class="dropdown-item" value="QA_IN_PROGRESS">QA in Progress</option>
                              <option class="dropdown-item" value="DONE">Done</option>         
                             </select>
                        </div>
                      </div>


                      <div class="form-group row" style="margin-top: 30px;">
                        <label>Dev</label>
                        <div class="col-sm-8 col-md-10">
                          <select class="col-sm-8 col-md-10 dropdown-menu" aria-labelledby="dropdownMenuButton"  class="custom-select" type="text" value = "{{newboardDetails.Developer}}" [disabled]="!editable">
                            <option value= "UNASSIGNED">UNASSIGNED</option>
                            <option *ngFor="let dropdownLists of employee" [value]=dropdownLists.id>{{dropdownLists.name}}</option>
                           </select>
                        </div>
                      </div>


                      <div class="form-group row" style="margin-top: 30px;">
                        <label>QA</label>
                        <div class="col-sm-8 col-md-10">
                          <select class="col-sm-8 col-md-10 dropdown-menu" aria-labelledby="dropdownMenuButton"  class="custom-select" type="text" value = "{{newboardDetails.Qa}}" [disabled]="!editable">
                            <option value= "UNASSIGNED">UNASSIGNED</option>
                            <option *ngFor="let dropdownLists of employee" [value]=dropdownLists.id>{{dropdownLists.name}}</option>
                           </select>
                        </div>
                      </div>


                      <div class="form-group row" style="margin-top: 30px;">
                        <label>PM</label>
                        <div class="col-sm-8 col-md-10">
                          <select class="col-sm-8 col-md-10 dropdown-menu" aria-labelledby="dropdownMenuButton"  class="custom-select" type="text" value = "{{newboardDetails.Pm}}" [disabled]="!editable">
                            <option value= "UNASSIGNED">UNASSIGNED</option>
                            <option *ngFor="let dropdownLists of employee" [value]=dropdownLists.id>{{dropdownLists.name}}</option>
                           </select>
                        </div>
                      </div>

                      <label for="exampleFormControlTextarea1">Priority</label>
                      <br>
                      <i class="fa fa-arrow-up" [style.color]= "newboardDetails.color"></i> &nbsp;
                      <label for="exampleFormControlTextarea1">{{ newboardDetails.Priority }}</label>



                      <!-- <form>
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Assignee</label>
                          <br>
                          <img class="img-fluid img-responsive rounded-circle mr-2"
                            src="../../../assets/scm_user_12.png" width="35">
                          <label for="exampleFormControlTextarea1">SCM_USER_12</label>

                          <br>
                          <br>

                          <label for="exampleFormControlTextarea1">Reporter</label>
                          <br>
                          <img class="img-fluid img-responsive rounded-circle mr-2"
                            src="../../../assets/scm_user_12.png" width="35">
                          <label for="exampleFormControlTextarea1">SCM_USER_10</label>

                          <br>
                          <br>
                          <br>

                          <label for="exampleFormControlTextarea1">Priority</label>
                          <br>
                          <i class="fa fa-arrow-up" style="color: red;"></i> &nbsp;
                          <label for="exampleFormControlTextarea1">Medium</label>



                        </div>

                      </form> -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
















  </div>

</div>