<!--CREATE TICKET CODE-->

<div class="card" style="border: 2px ;border-style: dashed;border-radius: 10px; border-color: black;">

    <div class="col-sm-12">
        <div class="card-body">
            <h5 class="card-title"
                style="text-align: center; font-weight: bold;margin-bottom: 20px;font-weight: bolder;font-size: 25px;">
                CREATE BOARD
            </h5>

            <div class="col-lg-12">
                <div class="card"
                    style="background-color: lightgrey;border: 0px; box-shadow: none; margin-bottom: 20px;">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">



                                    <form>
                                        <div class="form-group row" style="margin-top: 10px ;">
                                            <label for="email5" class="col-sm-4 col-md-2 col-form-label">Title</label>
                                            <div class="col-sm-8 col-md-10">
                                                <input type="email" class="form-control" id="email5"
                                                    placeholder="Title">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="email5"
                                                class="col-sm-4 col-md-2 col-form-label">Sub-Title</label>
                                            <div class="col-sm-8 col-md-10">
                                                <input type="email" class="form-control" id="email5"
                                                    placeholder="Sub-Title">
                                            </div>
                                        </div>





                                        <br>
                                        <br>

                                        <div class="form-group row">
                                            <button type="submit" class="btn btn-primary"
                                                style="text-align: center;margin-left: 40%;">
                                                CREATE BOARD</button>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>