<div class="wrapper">
    <nav  id="sidebar">


        <ul class="list-unstyled components">
            

            <div class="profile-card">
                <img [src]="this.companylogo">
                <div class="header">
                    <h5>{{ employeedata.name }}</h5>
                    <h6>{{ employeedata.email }}</h6>
                </div>
            </div>


            <li>

                <a routerLink="dashboard" style="font-size: 16px;"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>

                <hr>
            </li>
              

            <li *ngIf="ADMIN_IT || ADMIN_HR || SCRUM_MASTER">
                <a href="#page2Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="font-size: 16px;"><i class="fa fa-address-book"></i>  Employee</a>
                <ul class="collapse list-unstyled" id="page2Submenu" data-accordion="false">
                    <li *ngIf="ADMIN_IT">
                        <a [routerLink]="['/company/' + this.CompanyId + '/Add/Employee' ]" style="color:rgb(127,131,135);"> Add Emplopyee</a>

                    </li>
                    <li *ngIf="ADMIN_IT || ADMIN_HR || SCRUM_MASTER">
                        <a [routerLink]="['/company/' + this.CompanyId + '/Employee/List' ]" style="color:rgb(127,131,135);"> Emplopyee List</a>
                    </li>
                </ul>
                <hr>
            </li>

            <li *ngIf="ADMIN_HR">
                <a href="#page3Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="font-size: 16px;"><i class="fa fa-address-book"></i> Board</a>
                <ul class="collapse list-unstyled" id="page3Submenu" data-accordion="false">
                   
                    <li>
                        <a [routerLink]="['/company/' + this.CompanyId + '/create/board']" style="color:rgb(127,131,135);">Create Board</a>
                    </li>

                    <li>
                        <a [routerLink]="['/company/' + this.CompanyId + '/list/board']" style="color:rgb(127,131,135);">Board List</a>
                    </li>

                   
                </ul>
                <hr>
            </li>


            <li *ngIf="OWNER">
                <a href="#page4Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="font-size: 16px;"><i class="fa fa-address-book"></i> Admin</a>
                <ul class="collapse list-unstyled" id="page4Submenu" data-accordion="false">
                   
                    <li>
                        <a [routerLink]="['/company/' + this.CompanyId + '/create/company']" style="color:rgb(127,131,135);">Create company</a>
                    </li>

                    <li>
                        <a [routerLink]="['/company/' + this.CompanyId + '/company/list']" style="color:rgb(127,131,135);">company List </a>
                    </li>

                   
                </ul>
                <hr>
            </li>
<!-- 

            <li class="a1">

                <a routerLink="#" style="font-size: 16px;"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a>
            </li> -->

            



        </ul>

    </nav>
 </div>

