<div class="card" style="border: 2px ;border-style: dashed;border-radius: 10px; border-color: black;">

  <div class="col-sm-12">
    <div class="card-body">
      <h5 class="card-title"
        style="text-align: center; font-weight: bold;margin-bottom: 20px;font-weight: bolder;font-size: 25px;">
        BOARD LIST
      </h5>


      <table class="table">
        <thead class="thead" style="background-color:#0a84ff; color: white;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Board Title</th>
            <th scope="col">edit</th>
            <th scope="col">delete</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boardLists of boardList; let i=index">

            <!--Update rows code dynamically here-->
            <th scope="row">{{ i }}</th>
            <td>{{ boardLists.title }}</td>
            <td><a style="cursor: pointer;" (click)="update(Employees)"><i class="material-icons" style="color: green;">&#xE254;</i> </a></td>
            <td><a style="cursor: pointer;" (click)="delete(boardLists)"><i class="fa fa-trash-o" aria-hidden="true" style="color: red"></i> </a></td>


          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>