<div class="card" style="border: 2px ;border-style: dashed;border-radius: 10px; border-color: black;">

  <div class="col-sm-12">
    <div class="card-body">
      <h5 class="card-title"
        style="text-align: center; font-weight: bold;margin-bottom: 20px;font-weight: bolder;font-size: 25px;">
        EMPLOYEE LIST
      </h5>


      <table class="table">
        <thead class="thead" style="background-color:#0a84ff; color: white;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th *ngIf="passwords" scope="col">Password</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Employees of Employee; let i=index">
            <th scope="row">{{ i }}</th>
            <td>{{ Employees.name }}</td>
            <td>{{ Employees.email }}</td>
            <td *ngIf="passwords">{{ Employees.password }}</td>
            <td>{{ Employees.role }}</td>
            <td><a style="cursor: pointer;"  (click)="update(Employees)"><i class="material-icons" style="color: green;">&#xE254;</i>  </a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>