<div class="card" style="border: 2px ;border-style: dashed;border-radius: 10px; border-color: black;">

  <div class="col-sm-12">
    <div class="card-body">
      <h5 class="card-title"
        style="text-align: center; font-weight: bold;margin-bottom: 20px;font-weight: bolder;font-size: 25px;">
        EMPLOYEE LIST
      </h5>


      <table class="table">
        <thead class="thead" style="background-color:#0a84ff; color: white;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th *ngIf="passwords" scope="col">Password</th>
            <th scope="col">Role</th>
            <th *ngIf="Addemployee" scope="col">Add Employee</th>
            <th *ngIf="edit" scope="col">edit</th>
            <th *ngIf="deletes" scope="col">delete</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Employees of Employee; let i=index">
            <th scope="row">{{ i }}</th>
            <td>{{ Employees.name }}</td>
            <td>{{ Employees.email }}</td>
            <td *ngIf="passwords">{{ Employees.password }}</td>
            <td>{{ Employees.role }}</td>
            <td *ngIf="Addemployee"><input type="checkbox" id="defaultCheck" name="IsActive" (change)="updateTheTeam(Employees.id)" [checked]="Employees.isActive"></td>
            <td *ngIf="edit"><a style="cursor: pointer;" (click)="update(Employees)"><i class="material-icons" style="color: green;">&#xE254;</i> </a></td>
            <td *ngIf="deletes"><a style="cursor: pointer;" (click)="delete(Employees)"><i class="fa fa-trash-o" aria-hidden="true" style="color: green;"></i> </a></td>

          </tr>

          
        </tbody>
      </table>


      <!-- this is for add the employee -->

      <div class="form-group row" *ngIf="passwords">

        <label for="" class="col-sm-3 col-md-2 col-form-label" style="color: green;" >Add In Bluk</label>
        <div class="col-sm-4 col-md-4">
          <div class="custom-file">
            <input type="file" style="color: green;" class="custom-file-input" (change)="fileupload($event.target.files)" accept=".csv"
              id="customFile">
            <label style="color: green;" class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>


        <label for="" class="col-sm-3 col-md-2 col-form-label" style="color: red">Delete In Bluk</label>
        <div class="col-sm-4 col-md-4">
          <div class="custom-file">
            <input type="file" class="custom-file-input" style="color: red" (change)="deleteEmployee($event.target.files)" accept=".csv"
              id="customFile">
            <label class="custom-file-label" style="color: red" for="customFile">Choose file</label>
          </div>
        </div>

      </div>

      <!-- <input type="file" name="File Upload" id="txtFileUpload" (change)="fileupload($event.target.files)"
        accept=".csv" /> -->



      <!-- this is for delete the employee -->
      <!-- <input type="file" name="File Upload" id="txtFileUpload" (change)="deleteEmployee($event.target.files)"
        accept=".csv" /> -->

    </div>
  </div>
</div>