<div class="card" style="border: 2px ;border-style: dashed;border-radius: 10px; border-color: black;">

  <div class="col-sm-12">
    <div class="card-body">
      <h5 class="card-title"
        style="text-align: center; font-weight: bold;margin-bottom: 20px;font-weight: bolder;font-size: 25px;">
        EMPLOYEE LIST
      </h5>






      <table class="table">
        <thead class="thead" style="background-color:#0a84ff; color: white;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>mark@gmail.com</td>
            <td>markjson</td>
            <td>12/9/1990</td>
            <td>54648443131</td>
            <td>Beverly Hills</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Jacob@gmail.com</td>
            <td>jsoncool</td>
            <td>23/7/1989</td>
            <td>54644313123</td>
            <td>221 B Baker Street</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>larry@gmail.com</td>
            <td>larrypage</td>
            <td>26/1/1992</td>
            <td>4648443131</td>
            <td>Hilly Road,Canada</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Markcus</td>
            <td>Markcus@gmail.com</td>
            <td>markcusjs</td>
            <td>05/12/1993</td>
            <td>54648443131</td>
            <td>Washington DC</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Sam</td>
            <td>sam@hotmail.com</td>
            <td>samson</td>
            <td>06/08/1995</td>
            <td>94648442131</td>
            <td>Beverly Hills</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Alex</td>
            <td>alex@yahoo.com</td>
            <td>alexkhanwald</td>
            <td>04/11/1988</td>
            <td>7885443131</td>
            <td>288 M-Street,Madrid</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>