<div class="col">
    <div class="row my-row">
      <div class="col my-col">
        <ul class="breadcrumb" style="background-color: transparent;">
          <li class="breadcrumb-item ">
            <span class="icon">
              <i class="fa fa-briefcase"></i></span>
            <span class="heading" style="color: black; background-color: transparent;">Expense Claim</span></li>
  
        </ul>
      </div>
      <div class="col my-col">
        <div class="a">
          <ul class="breadcrumb" style="background-color: transparent;">
            <li class="breadcrumb-item"><a routerLink="/dashboard">
                <i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/dashboard/expenseclaim">Expense Claim</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row my-row">
      <div class="col my-col1">
        <!-- Expense Claim Record -->
      </div>
    </div>
  </div>




  <div class="card">
    <div class="card-header">
      Featured
    </div>

    <br>

    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ready</h5>


              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>


              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>


              <div class="col-lg">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>






        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">DEv In</h5>

              <div class="col-lg">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">title 1</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

              <div class="col-lg">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">title 2</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

              <div class="col-lg">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">title 3</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              

            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
      </div>
  




  </div>


