<div class="col-sm-6 m">
  <div class="box">
    <i class="fa fa-cogs" style="color: grey;"></i>
    <br>
    <br>
    <h2>Coming soon!!</h2>
    <p>The page you followed is currently under construction!</p>
    <form class="">
      <div class="input-group">
        <!--- <input type="text" class="form-control" placeholder="Search Here">-->
        <!--<span class="input-group-addon"><i class="fa fa-search"></i></span>-->

      </div>
    </form>
    <a routerLink="/login"><button class="btn btn-primary">Return To Home</button></a>
  </div>
</div>