<!--CREATE TICKET CODE-->

<div class="card" style="border: 2px ;border-style: dashed;border-radius: 10px; border-color: black;">

  <div class="col-sm-12">
    <div class="card-body">
      <h5 class="card-title"
        style="text-align: center; font-weight: bold;margin-bottom: 20px;font-weight: bolder;font-size: 25px;">
        CREATE COMPANY
      </h5>

      <div class="col-lg-12">
        <div class="card" style="background-color: lightgrey;border: 0px; box-shadow: none; margin-bottom: 20px;">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-12">



                  <form #f="ngForm" (ngSubmit)="AddCompany(f.value)" class="was-validated">
                    <div class="form-group row" style="margin-top: 10px ;">
                      <label for="name" class="col-sm-4 col-md-2 col-form-label">Enter Name</label>
                      <div class="col-sm-8 col-md-10">
                        <input type="text" class="form-control" placeholder="Name" #name="ngModel"
                          [(ngModel)]="company.name" name="name" id="name" required>
                        <div class="invalid-feedback" *ngIf="name.touched && name.invalid">
                          Email Is Required.
                        </div>
                      </div>
                    </div>


                    <div class="form-group row">
                      <label for="code" class="col-sm-4 col-md-12 col-form-label">Contact Details: </label>



                      <label for="email5" class="col-sm-2 col-md-2 col-form-label"
                        style="text-align: right;">Code</label>
                      <input type="text" class="col-sm-2 col-md-2 form-control" placeholder="Code" #code="ngModel"
                        [(ngModel)]="company.code" name="code" id="code" required>
                      <div class="invalid-feedback" *ngIf="code.touched && code.invalid">
                        Email Is Required.
                      </div>


                      <label for="number" class="col-sm-10 col-md-2 col-form-label" style="text-align: right;">Phone
                        Number</label>
                      <input type="number" class="col-sm-4 col-md-2 form-control" placeholder="Number" #number="ngModel"
                        [(ngModel)]="company.number" name="number" id="number" required>
                      <div class="invalid-feedback" *ngIf="number.touched && number.invalid">
                        Email Is Required.
                      </div>
                    </div>









                    <div class="form-group row">
                      <label for="email5" class="col-sm-8 col-md-12 col-form-label">Default Credentials:
                      </label>
                      <br>

                      <label for="userIT" class="col-sm-4 col-md-2 col-form-label">Email of
                        IT</label>
                      <input type="text" class="col-sm-4 col-md-4 form-control" placeholder="Enter Email"
                        #userIT="ngModel" [(ngModel)]="company.userIT" name="userIT" id="userIT" required>
                      <div class="invalid-feedback" *ngIf="userIT.touched && userIT.invalid">
                        Email Is Required.
                      </div>


                      <label for="passwordIT" class="col-sm-4 col-md-2 col-form-label">Password of
                        IT</label>
                      <input type="text" class="col-sm-4 col-md-4 form-control" placeholder="Enter Password"
                        #passwordIT="ngModel" [(ngModel)]="company.passwordIT" name="passwordIT" id="userIT" required>
                      <div class="invalid-feedback" *ngIf="passwordIT.touched && passwordIT.invalid">
                        Email Is Required.
                      </div>


                      <br><br>


                      <label for="userHR" class="col-sm-4 col-md-2 col-form-label">Email of
                        HR</label>
                      <input type="text" class="col-sm-4 col-md-4 form-control" placeholder="Enter Email"
                        #userHR="ngModel" [(ngModel)]="company.userHR" name="userHR" id="userHR" required>
                      <div class="invalid-feedback" *ngIf="userHR.touched && userHR.invalid">
                        Email Is Required.
                      </div>

                      <label for="passwordHR" class="col-sm-4 col-md-2 col-form-label">Password of
                        HR</label>
                      <input type="text" class="col-sm-4 col-md-4 form-control" placeholder="Enter Password"
                        #passwordHR="ngModel" [(ngModel)]="company.passwordHR" name="passwordHR" id="passwordHR"
                        required>
                      <div class="invalid-feedback" *ngIf="passwordHR.touched && passwordHR.invalid">
                        Email Is Required.
                      </div>




                    </div>


                    <br>
                    <div class="form-group row">
                      <label for="" class="col-sm-4 col-md-2 col-form-label">Company Logo</label>
                      <div class="col-sm-8 col-md-10">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" (change)="imagefileupload($event.target.files)"
                            id="customFile">
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                      </div>
                    </div>


                    <br>
                    <br>

                    <div class="form-group row">
                      <button type="submit" class="btn btn-primary" style="text-align: center;margin-left: 40%;">
                        CREATE COMPANY</button>
                    </div>


                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>